.parent{
    height: 200px;
    width: 200px;
    border: 2px solid;
    /* margin-left: 30px;
    margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 60px; */
    padding: 30px;

}

.child{
    height: 200px;
    width: 200px;
    border: 2px solid;
    /* margin-left: 30px;
    margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 60px; */
    padding: 30px;

}

.infant{
    height: 200px;
    width: 200px;
    border: 2px solid;
    padding: 30px;
}

p:hover{
    color: blue;
}